html, body {
	height: 100%;
}

.container {
	height: 100%;
}

.fill {
	height: calc(100% - 119px - 20px);
}

#canvas-div {
	overflow: hidden;
	border: 1px solid rgb(204, 204, 204);
}

.col-md-2 {
	height: 100%;
	padding-right: 0px;
	margin-right: -1px;
}

.col-md-10 {
	height: 100%;
	width: 82%;
	padding: 0px;
}

.btn-group-vertical > .btn:first-child:not(:last-child) {
	border-top-right-radius: 0px;
}

.btn-group-vertical > .btn:last-child:not(:first-child) {
	border-bottom-right-radius: 0px;
}

.btn-group-vertical > .btn, .btn-group-vertical > .btn-group {
	float: left;
	text-align: left;
}

.btn-group-vertical > .btn-group-vertical > .btn, .btn-group-vertical > .btn-group {
	background: #ebebeb;
}

.btn-group-vertical > .btn-group-vertical > .btn:first-child:not(:last-child) {
	margin-top: -1px;
}

.btn-group-vertical > .btn-group-vertical > .btn:last-child:not(:first-child) {
	border-bottom-left-radius: 0px;
	margin-bottom: -1px;
}

.btn-group-vertical > .btn-group-vertical > .btn {
	border-radius: 0px;
}

#modify-pane {
	border: 1px solid rgb(204, 204, 204);
	border-bottom-left-radius: 4px;
	border-top-left-radius: 4px;
	padding-top: 10px;
	padding-left: 10px;
	padding-right: 10px;
	margin-right: -20px;
	position: absolute;
	right: 20px;
	left: 15px;
	bottom: 0px;
}


.btn-hold {
	color: #333;
	background-color: #ebebeb;
	border-color: #adadad;
	outline: 0;
	-webkit-box-shadow: inset 0 3px 5px rgba(0,0,0,0.125);
	box-shadow: inset 0 3px 5px rgba(0,0,0,0.125);
}

.pull-bottom {
	margin-bottom: -1px
}
